[Desktop Entry]
Name=Drawing
Name[ko]=그림판
Name[da]=Drawing
Name[de_DE]=Zeichnung
Name[es]=Drawing
Name[fi]=Piirtäminen
Name[fr]=Dessin
Name[he]=ציור
Name[hr]=Crtanje
Name[hu]=Rajzolás
Name[it]=Drawing
Name[nl]=Tekenen
Name[pl]=Rysunek
Name[pt_BR]=Drawing
Name[sv]=Drawing
Name[tr]=Çizim
Name=Drawing
Comment[da]=Simpelt tegneredskab
Comment[de_DE]=Einfaches Zeichenprogramm
Comment[es]=Utilidad de dibujo sencilla
Comment[fi]=Helppo piirustus apuohjelma
Comment[fr]=Utilitaire simple pour le dessin
Comment[he]=כלי ציור פשוט
Comment[hr]=Jednostavan program za crtanje
Comment[hu]=Egyszerű rajzoló alkalmazás
Comment[it]=Semplice applicazione per il disegno
Comment[nl]=Eenvoudig tekenprogramma
Comment[pl]=Proste narzędzie do rysowania
Comment[pt_BR]=Ferramenta de desenho simples
Comment[ru]=Простой инструмент для рисования
Comment[sv]=Enkelt ritverktyg
Comment[tr]=Basit çizim aracı
Comment=Simple drawing utility
Comment[ko]=간단한 그리기 도구
Exec=drawing %U
Icon=com.github.maoschanz.drawing
Terminal=false
Type=Application
StartupNotify=true
# This is a list of keywords. "Paint" should not be translated, the others should. Don't forget the semicolons.
Keywords[ko]=그리기;그림판;이미지;드로잉;bmp;Paint;Tegn;Blyant;
Keywords[da]=Paint;Tegn;Blyant;
Keywords[de_DE]=Paint;Skizze;Bleistift;
Keywords[es]=Paint;Boceto;Lápiz;
Keywords[fi]=Paint;Maali;Luonnos;Lyijykynä;
Keywords[fr]=Paint;Croquis;Crayon;
Keywords[he]=Paint;שרטט;עיפרון;
Keywords[hr]=Paint;Skiciranje;Olovka;
Keywords[hu]=Paint;Sketch;Pencil;Festés;Rajzolás;Skicc;Ceruza;Ecset;Festő
Keywords[it]=Paint;Colore;Bozze;Matita;
Keywords[nl]=Paint;Verven;Schetsen;Potlood;
Keywords[pl]=Paint;Szkic;Ołówek;
Keywords[pt_BR]=Paint;Pintura;Esboço;Lápis;
Keywords[sv]=Paint;Måla;Rita;Penna;
Keywords[tr]=Paint;Çizim;Boyama;Karakalem;
Keywords=Paint;Sketch;Pencil;
Categories=Graphics;GNOME;GTK;
MimeType=image/png;image/bmp;image/jpeg;
Actions=new-window;new-tab;edit-clipboard;

[Desktop Action new-window]
Name[da]=Nyt vindue
Name[de_DE]=Neues Fenster
Name[es]=Ventana nueva
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[it]=Nuova finestra
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[ko]=새 창
Name=New Window
Exec=drawing --new-window

[Desktop Action new-tab]
Name[da]=Nyt billede
Name[de_DE]=Neues Bild
Name[es]=Imagen nueva
Name[fi]=Uusi kuva
Name[fr]=Nouvelle image
Name[he]=תמונה חדשה
Name[hr]=Nova slika
Name[hu]=Új kép
Name[it]=Nuova Immagine
Name[nl]=Nieuwe afbeelding
Name[pl]=Nowy obraz
Name[pt_BR]=Nova Imagem
Name[ru]=Новое изображение
Name[sv]=Ny bild
Name[tr]=Yeni Görüntü
Name[ko]=새 이미지
Name=New Image
Exec=drawing --new-tab

[Desktop Action edit-clipboard]
Name[da]=Rediger billede i udklipsholder
Name[de_DE]=Bild in Zwischenablage bearbeiten
Name[es]=Editar imagen del portapapeles
Name[fi]=Muokkaa kuvaa leikepöydällä
Name[fr]=Éditer l'image dans le presse-papier
Name[hr]=Uredi sliku u međuspremniku
Name[hu]=Kép szerkesztése a vágólapról
Name[it]=Modifica l'Immagine negli Appunti
Name[nl]=Klembordafbeelding bewerken
Name[pl]=Edytuj obraz ze schowka
Name[pt_BR]=Editar imagem do clipboard
Name[sv]=Redigera bilden i urklipp
Name[tr]=Panodaki Resmi Düzenle
Name[ko]=클립보드 이미지 편집
Name=Edit Image in Clipboard
Exec=drawing --edit-clipboard
