[Desktop Entry]
Type=Application
Name=Warpinator
Name[ko]=파일공유
Comment[ko]=네트워크를 통해 파일 보내기 및 받기
Comment[ca]=Envia i rep arxius a través de la xarxa
Comment[cs]=Posílání a přijímání souborů po síti
Comment[da]=Send og modtag filer over netværket
Comment[de]=Dateien über das Netzwerk senden und empfangen
Comment[en_GB]=Send and Receive Files across the Network
Comment[eo]=Sendi kaj ricevi dosierojn tra la reto
Comment[es]=Enviar y recibir archivos a través de la red
Comment[et]=Failid saatmine ja vastuvõtmine võrgu kaudu
Comment[eu]=Bidali eta jaso fitxategiak sarean zehar
Comment[fi]=Lähetä ja vastaanota tiedostoja verkossa
Comment[fr]=Envoyer et recevoir des fichiers sur le réseau
Comment[he]=שליחת וקבלת קבצים על פני הרשת
Comment[hi]=नेटवर्क द्वारा फाइलों का आदान-प्रदान करें
Comment[hr]=Šaljite i primajte datoteke putem mreže
Comment[hu]=Fájlok küldése és fogadása a hálózaton
Comment[id]=Kirim dan Terima berkas melalui Jaringan
Comment[is]=Senda og taka við skrám um netið
Comment[it]=Invia e Ricevi Files sulla Rete
Comment[ja]=ネットワーク経由でファイルを送受信します
Comment[kab]=Azen rnu ṭṭef-d ifuylas uzeṭṭa
Comment[lt]=Siųsti ir gauti failus per tinklą
Comment[nl]=Bestanden verzenden en ontvangen via het netwerk
Comment[pl]=Wysyłaj i odbieraj pliki w swojej sieci
Comment[pt]=Enviar e receber ficheiros através da rede
Comment[pt_BR]=Envie e Receba Arquivos através da Rede
Comment[ro]=Trimite și Primește Fișiere peste Rețea
Comment[ru]=Отправка и получение файлов по сети
Comment[sr@latin]=Šaljite i primajte datoteke preko mreže
Comment[sv]=Skicka och ta emot filer via nätverket
Comment[tr]=Ağ Üzerinden Dosya Gönderin ve Alın
Comment[uk]=Відправка й отримання файлів мережею
Comment=Send and Receive Files across the Network
Icon=warpinator
Exec=warpinator
Categories=GNOME;GTK;Utility;
Keywords=network;file;transfer;samba;smb;nfs;send;file
Keywords[ko]=네트워크,파일전송,파일공유,공유,삼바,network;file;transfer;samba;smb;nfs;
