Source: hamonikr-system-settings
Section: admin
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4

Package: hamonikr-system-settings
Architecture: amd64
Depends: hamonikr-info (>> 2020.10.08),  base-files (>= 20.0.1hamonikr1)
Enhances: 
Conflicts: mint-artwork-common
Replaces: ubuntu-system-adjustments, mint-artwork-common, firefox, mintsystem
Description: Basic HamoniKR OS Settings
 Applies the default settings of HamoniKR Linux
 .
 하모니카 리눅스의 기본 설정을 적용하는 패키지입니다.
