Source: hamonikr-system-settings
Section: admin
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4

Package: hamonikr-system-settings
Architecture: all
Depends: hamonikr-info (>> 2020.10.08), fonts-noto-cjk-extra, fonts-inconsolata, albert, autorandr
Enhances: 
Conflicts: mint-artwork-common
Replaces: ubuntu-system-adjustments, mint-artwork-common, firefox, mintsystem, cinnamon-l10n, cinnamon-common, drawing, celluloid, warpinator, mint-mirrors
Description: Basic HamoniKR OS Settings
 Applies the default settings of HamoniKR Linux
 .
 하모니카 리눅스의 기본 설정을 적용하는 패키지입니다.
